main {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("../images/wall.png");
    box-shadow: inset 20px 100px 200px 100px #000;
}
.menu {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 90px;
    width: 100%;
    background-color: #000;
}
.menu h2{
    color: #d7d7d7;
}
.menu-lives {
    display: flex;
    justify-content: center;
    align-items: center;
}
.menu-lives img {
    height: 50px;
    width: 50px;
}
.menu-time h2:nth-child(2),.menu-score h2:nth-child(2){
    margin-top: 10px;
}
.panel {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.square {
    height: 150px;
    width: 150px;
    border: 1px solid #000;
    background-color: #d7d7d7;
}
.enemy {
    background-image: url("../images/ralph.png");
    background-size: cover;
    cursor: pointer;
}